html, body {
  /* Browser reset */
  margin: 0;
  padding: 0; }

.goals {
  justify-content: center;
  display: flex;
  flex-direction: row; }
  .goals .goal {
    flex-direction: row;
    height: 50px;
    width: 25%;
    border-radius: 10px;
    border: solid black 1px;
    border-right: none;
    -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.72);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.72); }
  .goals .goal,
  .goals goal::-webkit-input-placeholder {
    font-size: 25px;
    line-height: 2;
    color: black;
    display: flex;
    padding-left: 20px; }
  .goals .goal::placeholder {
    font-size: 20px;
    padding: 5px;
    display: flex; }
  .goals .add {
    height: 54px;
    width: 75px;
    border-radius: 10px;
    background-color: #FF9600;
    border: solid black 1px;
    margin-left: -75px;
    font-size: 16px; }
