.container {
  margin: auto;
  width: 50%; }

.goal {
  background-color: red;
  margin: auto;
  width: 65%;
  display: flex;
  height: 30px; }

.ideas {
  background-color: blue;
  display: flex;
  width: 65%;
  margin: auto;
  height: 450px; }

ol {
  height: 100%;
  line-height: 60px;
  min-width: 500px; }

.goals-checkbox {
  height: 25px;
  width: 50px;
  float: right;
  border-radius: 25px; }
