@import 'global';


//creating mixin for use on elements //
@mixin add-shadow() {
-webkit-box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.32);
-moz-box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.32);
box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.32);
}

// Netsting form // 


.goals {
	
justify-content: center;
display: flex;
flex-direction: row;
	


		.goal { 
		flex-direction: row;
		height: 50px;
		width: 25%;
		border-radius: 10px;
		border: solid black 1px;
		border-right: none;
 
		@include add-shadow ();

  
		}

		.goal,
		goal::-webkit-input-placeholder {
  		font-size: 25px;
    	line-height: 2;
		color: black;
		display:flex;
		padding-left: 20px;

		}		

		.goal::placeholder { 

		font-size: 20px;
		padding: 5px;
		display: flex;
		}		
		
		.add { 
		height: 54px;
		width: 75px;
		border-radius: 10px;
		background-color: $primary-color;	
		border: solid black 1px;
		margin-left: -75px;
		font-size: $secondary-font-size;
		text-transform: uppercase;
		}
	
		.add:hover {
		
  		background-color: rgba(6,143,0,1.00);
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;	
		transition:.5s;	
    
  		}
		
		}
		// Netsting form end// 

