@import "_global.scss";

button {
  border-width: 0;
  border-style: none;
  border-color: buttonface;
  border-image: none;
}

/*** Toggle buttons ***/
@mixin togglebutton {
  background-color: $primary-color;
  &:focus {
  outline: none;
  border-color: black;
  border-width: 3px;
  }

  &:hover {
    background-color: $secondary-color;
    color:$primary-color;
    border-style: outset;
    border-color: $primary-color;
  }
}
button.toggleRight {
  display: inline-block;
  grid-area: buttonRight;
  @include togglebutton;
}
button.toggleLeft {
  display: inline-block;
  grid-area: buttonLeft;
  @include togglebutton;
}
/*** Toggle buttons end***/

/* add button on inspiration images */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

button.goal__add {
  border: none;
  background-color: black;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  padding: 8px 30px;
  display: inline-block;
  margin: 22px 30px;
  text-transform: none;
  line-height: 1.5em;
  font-size: 16px;
  outline: none;
  position: relative;
  -webkit-transition: all ease-in;
  transition: all ease-in;
}

button.goal__add span  {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  // opacity: 0.8;
}

button.goal__add i {
  font-size: 19px;
  left: 22px;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button.goal__add:hover {
  // background-color: orange;
}

button.goal__add:hover span,
button.goal__add.hover span {
  -webkit-transform: translate3d(10px, 0px, 0px); /* Moves the text 10px to the right on hover */
  transform: translate3d(10px, 0px, 0px); /* Moves the text 10px to the right on hover */
  opacity: 1;
  font-family: $detail-font;
  text-transform: none;
}

button.goal__add:hover i,
button.goal__add.hover i {
  opacity: 1;
}

button.goal__add:active span {
  -webkit-transform: translate3d(14px, 0px, 0px);
  transform: translate3d(14px, 0px, 0px);
}
button.goal__add:active i {
  left: 18px;
}
/* add button */


/* Close x button sign  https://codepen.io/maneeshc/pen/pPxKQm  */ 
$button-size: 40px;
$close-width: ($button-size / 10);

.close-button {
  grid-area: textAreaRight;
  display: block;
  width: $button-size;
  height: $button-size;
  position: absolute;
  margin: 10px 5px 5px 550px;
  > div {
    position: relative;
  }
  &-block {
    width: 40px;
    height: 20px;
    position: relative;
    overflow: hidden;
    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: calc(55% - 4px);
      display: block;
      width: 4px;
      height: 25px;
      transform-origin: bottom center;
      background: white;
      transition: all ease-out 280ms;
    }
    &:last-of-type {
      transform: rotate(180deg);
    }
  }
  .in {
    .close-button-block {
      &:before {
        transition-delay: 280ms;
        transform: translateX(20px) translateY(-20px) rotate(45deg);
      }
      &:after {
        transition-delay: 280ms;
        transform: translateX(-22px) translateY(-22px) rotate(-45deg);
      }
    }
  }
  .out {
    position: absolute;
    top: 0;
    left: 0;
    .close-button-block {
      &:before {
        transform: translateX(-5px) translateY(5px) rotate(45deg);
      }
      &:after {
        transform: translateX(5px) translateY(5px) rotate(-45deg);
      }
    }
  }
  &:hover {
    .in {
      .close-button-block {
        &:before {
          transform: translateX(-5px) translateY(5px) rotate(45deg);
        }
        &:after {
          transform: translateX(5px) translateY(5px) rotate(-45deg);
        }
      }
    }
    .out {
      .close-button-block {
        &:before {
          transform: translateX(-20px) translateY(20px) rotate(45deg);
        }
        &:after {
          transform: translateX(20px) translateY(20px) rotate(-45deg);
        }
      }
    }
  }
}
