$font-title: Handlee, cursive;
$primary-font-size: 16px;
$primary-font: Maven Pro, sans-serif;
$font-color: red;
$primary-color: #FF9600;
$secondary-color: #286D8F;

html, body { /* Browser reset */
    margin:0;
    padding:0;
}