@import 'global';

@mixin box-shadow($header-shadow) { // 
    -webkit-box-shadow: $header-shadow;
    -moz-box-shadow: $header-shadow;
    -ms-box-shadow: $header-shadow;
    box-shadow: $header-shadow;
}

.goals-list {
    display: flex;
    justify-content: center;
    margin-top:50px;
    font-family: $primary-font;
    font-size: $primary-font-size + 6; // Adds X to primary font size
    
    form {
        background-color:$primary-color;
        padding:50px 90px;
        @include box-shadow(0px 0px 18px -1px rgba(0,0,0,0.42)); // Shadow on form
        
        li {
            margin-bottom:30px;
        }
        
        .goals-checkbox {
            float:right;
            margin-left:70px;
        }
    }
}