@import 'global';

ul, li { /* Reset ul and li */
  margin: 0;
  padding: 0;
  border: 0;
}

.goals {
    font-family: $primary-font;
    width:650px;
    margin:auto;
      
    .panel {          
        display: flex;/* 
        Distribute space evenly between the contents*/
        justify-content: space-between;
        padding: 10px;
        background-color: $primary-color;
    }
    
    li {
        list-style-type: none;
        border-bottom: 1px solid #efefef;
        padding: 10px;
    }
    
    .text-input {
        border: 1px solid #dedede;
        padding-left: 10px;
        width: 70%;
        height: 35px;
        color: #555;
    }
    
    button {
        outline: 0;
        width: 100px;
        height: 38px;
        cursor: pointer;
        font-size: 12px;
        
        .delete {
            max-width:10px;
        }
    }
    
    .list {
        
        li {
            background-color: $secondary-color;
            
            .delete {
                background-color: transparent;
                border: 1px solid $secondary-color;
                color: #ddd;
                /* Hide the delete button by default*/
                visibility: hidden;
                font-size: 20px;
                font-weight: bold;    
            }
        } 
        
        li:hover > .delete {
          /* Show the delete button when hovering over each list item */
          visibility: visible;
        }
        
        label {
          padding-right: 10px;
          display: inline-block;
          width: 70%;
          font-size: 18px;
          line-height: 16px;
          color: #fcfcfc;
          z-index: 2;
          overflow: hidden;
        }
        
        li.done label {
          color: #d9d9d9;
          text-decoration: line-through;
        }
    }
}