@import 'global';

@mixin box-shadow($header-shadow) { // 
    -webkit-box-shadow: $header-shadow;
    -moz-box-shadow: $header-shadow;
    -ms-box-shadow: $header-shadow;
    box-shadow: $header-shadow;
}


header {
    background-color:$primary-color;
    display: flex;
    margin-bottom:50px;
    @include box-shadow(0px 4px 5px -1px rgba(0,0,0,0.41)); // Shadow on header 

    
    .logo {
        
        flex-direction: row;
        padding: 20px 10px;
    }
    
    
    nav {
        flex-direction: row;
        align-self: center;
        padding: 20px;
        font-family:$primary-font;
        font-size: $primary-font-size;
    }
    
    ul {
        list-style-type: none; // Removes bullets
        display: flex;
        float: right;
    }
    
    li {
        display: inline; // Links on same line
        
        a {
            color: #000;
            text-decoration: none;
            margin-right:50px;
            
        }

        a:hover {
        color: rgba(255,255,255,1.00);
		-o-transition:.3s;
		-ms-transition:.3s;
		-moz-transition:.3s;
		-webkit-transition:.3s;	
		transition:.3s;
        }
    }
}