@import 'global';

@mixin box-shadow($header-shadow) { // 
    -webkit-box-shadow: $header-shadow;
    -moz-box-shadow: $header-shadow;
    -ms-box-shadow: $header-shadow;
    box-shadow: $header-shadow;
}


header {
    background-color:$primary-color;
    display: flex;
    margin-bottom:50px;
    @include box-shadow(0px 4px 5px -1px rgba(0,0,0,0.41)); // Shadow on header 

    
    .logo {
        
        flex-direction: row;
        padding: 20px 10px;
    }
    
    
    nav {
        flex-direction: row;
        align-self: center;
        padding: 20px;
    }
    
    #tagline { 
    
    font-family: $detail-font
    
    }
    
}
