@import "_global";

.completedText {
  grid-area: textAreaLeft;
}

h2, h1 {
  text-align: center;
  color: white;
  font-size: $title-font-size;
  font-family: $title-font;
  font-weight: $title-weight;
  margin-bottom: 10px;
}

h4 {
font-family: $primary-font;
transform: rotate(90deg);
font-size: 50px;
padding: 0;
} /*Text on toggle button*/

p {
  font-family: $primary-font;
  color: white;
  text-align: center;
  font-size: $primary-font-size;
}

@mixin asideStyle() {
  height: auto;
  background-color: $secondary-color;
  top: 20%;
}

.myList {
  background-color: rgba(0, 0, 0, 0.9);
  top: 20%;
  justify-content: center;
  height: 70vh;
  margin: 0 25%;
  width: 50%;
  position: absolute;
  text-align: center;
  @include add-shadow();
}

.suggestion {
  position:absolute;
  margin-left: 78%;
  margin-top: 20%;
  text-align: left;
  &__text {
    font-family: $detail-font;
    color: black;
    size: 50%;
    margin-bottom: 5px;
    text-align: left;
  }
  &__image {
    height: 50%;
  }
}

.completed {
  @include asideStyle();
  display: grid;
  grid-template-columns:  600px 100px;
  grid-template-rows: auto;
  grid-template-areas:
    "textAreaLeft buttonLeft"
    "cGoals buttonLeft";
  position:  absolute;
  left: -600px;
  height: 590px;
  transition: left ease-in-out 0.3s;

  &__text {
    font-family: $title-font;
  }
  &__subText {
    grid-area: textAreaLeft;
    font-family: $primary-font;
  }
}
.completed.hide {
  position: absolute;
  left: 50px;
}

.inspiration {
  @include asideStyle();
  display: grid;
  grid-template-columns:  100px 600px;
  grid-template-rows: auto;
  grid-template-areas:
    "buttonRight textAreaRight"
    "buttonRight ideaGoal";
  position:  absolute;
  right: -600px;
  transition: right cubic-bezier (0, 0.07, 0.56, 0.92) 0.3s;

  &__text {
    grid-area: textAreaRight;
    font-family: $title-font;
  }
  &__subText {
    grid-area: textAreaRight;
  }
}
.inspiration.hide {
  position: absolute;
  right: 50px;
}


@mixin flexContainer() {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.flexContainerLeft {
  grid-area: cGoals;
    @include flexContainer();
}
.flexContainerRight {
  grid-area: ideaGoal;
  @include flexContainer();
}

@mixin image-box() {
  border-color: black;
  border: solid;
  border-width: 2px;
  background-size: cover;
  width: 250px;
  height: 100px;
  margin: 15px 5px;
  text-align: center;
  border-radius: 5px;

  &:hover {
    // border-color: orange;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.05);

    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.goal__tagline {
  font-family: $primary-font;
  color: black;
  font-size: 18px;
}
.usa {
  background-image:url('https://www.austinadventures.com/assets/4821652973_06a6c284c5.jpg');
  @include image-box();
}
.ride {
  background-image:url('https://fthmb.tqn.com/4T3vgdT_7FFC5UxS-i_kaHZCOjI=/3864x2579/filters:no_upscale()/he-s-a-lone-rider-494210377-570e2cd13df78c7d9e5034a8.jpg');
  @include image-box();
}
.drive {
  background-image:url('http://c7.alamy.com/zooms/a0bb28bed5ef44fea9c7110df22d2062/australia-new-south-wales-sydney-lane-cove-couple-driving-car-through-g3tgpw.jpg');
  @include image-box();
}
.paintball {
  background-image:url('https://fthmb.tqn.com/vTwek6MxlK6HxUyfjXGPdb1q-C8=/768x0/filters:no_upscale()/102635862-56a6e1d53df78cf77290ac3a.jpg');
  @include image-box();
}
.swim {
  background-image: url('http://yourdream.s3.amazonaws.com/media/cache/49/81/49811164c1ec4dd5c196b05f36b50bef.jpg');
    @include image-box();
}
